apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: devops-portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: laly9999/frontend:1
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: devops-portfolio
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
